@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
    //colors
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
    //fonts
    --young-serif:font-family: "Young Serif", serif;
    --outfit: font-family: "Outfit", sans-serif;
}
body{
    background: var(--Stone-150);

main{
    background: var(--White);
  .text{
    .presentation{
        h1{
            font-size: 2.3rem;
        }
        p{
            font-size: 1.2rem;
        }
    }//presentation
    .preparation{
        background: var(--Rose-50);
        border-radius: 20px;
        h3{
            color: var(--Rose-800);
        }
        ul{

            li{
                color: var(--Stone-600);
                font-size: 1.1rem;
                span{
                    color: var(--Stone-900);
                    font-weight: bolder;
                }
            }
        }
    }
    .ingredients{
        border-bottom: 1px solid var(--Brown-800);
        h2{
            color: var(--Brown-800);
        }

    }
    .Instructions{
        border-bottom: 1px solid var(--Brown-800);
        h2{
             color: var(--Brown-800);
        }
       
      
            li{
                color: var(--Stone-600);
                font-size: 1.1rem;
                span{
                    color: var(--Stone-900);
                    font-weight: bolder;
                }
            }
       
    }
    .nutrition{
        h2{
             color: var(--Brown-800);
        }
       
        .nutritionform{
            p{
                 border-bottom: 1px solid var(--Brown-800);
                 span:first-child{
                    font-size: 1.2rem;
                    
                 }
                 span:last-child{
                    font-size: 1.2rem;
                    color: var(--Brown-800);
                    font-weight: bold;

                 }
            }

        }
    }
  }//text
}
}