@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
:root {
    //colors

    //Primary

    --Teal-500: hsl(179, 62%, 43%);
    --Green-400: hsl(71, 73%, 54%);

    //Neutral

    --Teal-100: hsl(204, 43%, 93%);
    --Gray-500: hsl(218, 22%, 67%);
    //Font

    --karla: font-family: "Karla", sans-serif;
}
