@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
:root {
    //colors

    //Primary

    --Teal-500: hsl(179, 62%, 43%);
    --Green-400: hsl(71, 73%, 54%);

    //Neutral

    --Teal-100: hsl(204, 43%, 93%);
    --Gray-500: hsl(218, 22%, 67%);
    //Font

    --karla: "Karla", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--karla);
}

body {
    background: var(--Teal-100);
}
main {
    .row {
        color: white;
        .join {
            background: white;
            h1 {
                font-size: 1.5rem;
                color: var(--Teal-500);
            }
            h2 {
                font-size: 1.1rem;
                color: var(--Green-400);
            }
            p {
                color: var(--Gray-500);
            }
        }
        .monthly {
            background: var(--Teal-500);
            h1 {
                font-size: 1.5rem;
            }
            h2 {
                font-size: 2rem;
                span {
                    font-size: 1rem;
                    color: var(--Teal-100);
                }
            }
            button {
                background: var(--Green-400);
                color: white;

              
            }
        }
        .whyUs {
            background: var(--Teal-500);
        }
    }
}
