* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-50: hsl(330, 100%, 98%);
  --Rose-800: hsl(332, 51%, 32%);
  --young-serif: "Young Serif", serif;
  --outfit: "Outfit", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--Stone-100);
}
body main {
  margin: 5% 10%;
  border-radius: 20px;
  background-color: var(--White);
}
body main .img {
  padding-top: 50px;
  margin: 60px auto;
}
body main .img img {
  display: block;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
}
body main .text .box {
  width: 100%;
  margin: 30px 0;
  padding: 0 3%;
  font-size: 19px;
}
body main .text .box ul,
body main .text .box ol {
  list-style-position: inside;
  padding-top: 10px;
  padding-left: 20px;
}
body main .text .box ul li,
body main .text .box ol li {
  padding: 7px 2%;
}
body main .text .box h2 {
  color: var(--Brown-800);
}
body main .text .box span {
  font-weight: bold;
}
body main .text .box01 h1 {
  font-size: 50px;
}
body main .text .box01 p {
  margin: 20px 0;
  font-size: 19px;
}
body main .text .box02 {
  margin: 5% 5%;
}
body main .text .box02 h3 {
  color: var(--Rose-800);
}
body main .text .box03 {
  border-bottom: 1px solid var(--Stone-150);
}
body main .text .box03 ul {
  margin-bottom: 30px;
}
body main .text .box04 {
  border-bottom: 1px solid var(--Stone-150);
}
body main .text .box04 ol {
  margin-bottom: 30px;
}
body main .text .box05 > p {
  margin: 10px 0;
}
body main .text .box05 .nutrition p {
  display: flex;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid black;
}
body main .text .box05 .nutrition p span {
  display: inline-block;
  width: 100%;
  justify-content: space-around;
}
body main .text .box05 .nutrition p:last-child {
  border-bottom: none;
}

@media (max-width: 1100px) {
  body {
    width: 100%;
    height: 100%;
    background-color: var(--White);
  }
  body main {
    margin: 0;
    border-radius: 0px;
    background-color: var(--White);
  }
  body main .img {
    padding-top: 0px;
    margin: 0px;
  }
  body main .img img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
  }
  body main .text .box {
    width: 100%;
    margin: 30px 0;
    padding: 0 3%;
    font-size: 19px;
  }
  body main .text .box ul,
  body main .text .box ol {
    list-style-position: inside;
    padding-top: 10px;
    padding-left: 10px;
  }
  body main .text .box ul li,
  body main .text .box ol li {
    padding: 7px 0;
  }
  body main .text .box h2 {
    color: var(--Brown-800);
  }
  body main .text .box span {
    font-weight: bold;
  }
  body main .text .box01 h1 {
    font-size: 50px;
  }
  body main .text .box01 p {
    margin: 20px 0;
    font-size: 19px;
  }
  body main .text .box02 {
    margin: 5% 0;
  }
  body main .text .box02 h3 {
    color: var(--Rose-800);
  }
  body main .text .box03 {
    border-bottom: 1px solid black;
  }
  body main .text .box03 ul {
    margin-bottom: 30px;
  }
  body main .text .box04 {
    border-bottom: 1px solid black;
  }
  body main .text .box04 ol {
    margin-bottom: 30px;
  }
  body main .text .box05 > p {
    margin: 10px 0;
  }
  body main .text .box05 .nutrition p {
    display: flex;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid black;
  }
  body main .text .box05 .nutrition p span {
    display: inline-block;
    width: 100%;
    justify-content: space-around;
  }
  body main .text .box05 .nutrition p:last-child {
    border-bottom: none;
  }
}/*# sourceMappingURL=style.css.map */